# .GITIGNORE
# # # Specifies files, folders, and patterns of files/folders to ignore, aka entities to NOT track and push to Github remote repository.


## Personal project development details
develop.md

## Virtual environment folder & files
env/
