@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap'); /*Google font import:*/


body {
  background-color: #FBEEC1;
}

.navbar-custom {
  background-color: #BC986A;
}

.content {
  padding: 10px;
}

#title { /*SQUEAK title-header*/
  font-family: 'Cute Font', cursive;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 45pt;
  animation-name: squeak;
  animation-duration: .5s;
  animation-iteration-count: 1;
}

@keyframes squeak {
  0% {
    font-size: 45pt;
  }
  50% {
    font-size: 50pt;
  }
  100% {
    font-size: 45pt;
  }
}
