{% extends "network/layout.html" %}

{% block body %}

<div class="content">

{% if user.is_authenticated %}
  <div id="compose-view">
    <form id="squeak_form" action="{% url 'squeak' %}" method="post">
      {% csrf_token %} <!--Security token-->
      {{ form }} <!--Django inserts form from views.py[squeak()]-->
      <div class="vertical-center">
        <input id="submit-btn" type="submit" value="Squeak">
      </div>
    </form>
    <p id="count"></p>
  </div>
{% endif %}

  {% include "network/posts.html" %}



{% if post.user == request.user %}
{% endif %}



</div>
{% endblock %}
