{% extends "network/layout.html" %}

{% block body %}

<div class="content">
  <h2 style="text-align: center">{{ username }}</h2>


<div class="counts">
  <p>Followed by: <span id="followby">{{ followers.count }}</span></p>
  <p>Following: <span>{{ following.count }}</span></p>
</div>

{% if user.is_authenticated and request.user != username %}
        <!-- Follow buttons here -->
  {% if request.user in checkfollow %}
    <a href="" onclick="followToggle('{{ username }}')">Unfollow</a>
  {% else %}
    <a href="" onclick="followToggle('{{ username }}')">Follow</a>
  {% endif %}

{% endif %}






{% include "network/posts.html" %}


</div>




{% endblock %}
